/* Christine Jendrzejczyk
    05/02/2017
    Artiste
        icons - Trumps
*/
/*.cont__labDeco::after{
   content: '';
    position: absolute;
    margin-top: -0.24em;
    margin-left: 0.5%;
    color: #7EC9CD;
    background-color: transparent;
    font-family: 'Glyphs';
    font-size: 2em;
}*/

.yt::before {
    content: "";
      @include circle(#E62117);
}
.twi::before {
    content: "";
      @include circle(#1DA1F2);
}
.fb::before {
    content: "";
      @include circle(#3B5998);
      padding: 0.5em 0.7em;
}

.insta::before {
    @include circle(#954BC4);
   content: "";
}

.yt:hover:before{
    background-color: #E62117;
    color: white;
}
.twi:hover:before{
    background-color: #1DA1F2;
    color: white;
}
.fb:hover:before{
    background-color: #3B5998;
    color: white;
}
.insta:hover:before{
     background-color: #954BC4;
    color: white;
}
