/* Christine Jendrzejczyk
    05/02/2017
    Artiste
        icons - Trumps
*/

.yt::before {
    content: " ";
    color: white;
    font-family: 'Glyphs';
    font-size: 2em;
}
.twi::before {
    content: " ";
    color: white;
    font-family: 'Glyphs';
    font-size: 2em;
}
.fb::before {
    content: " ";
    color: white;
    font-family: 'Glyphs';
    font-size: 2em;
}