/* Christine Jendrzejczyk
	05/02/2017
 	Artiste
		bio - components
*/
.bio, .disco, .accueil{
	background: url(../img/lowFull.jpg) no-repeat center; 
  	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
  	background-size: cover; /* version standardisée */
	color: white;

}