/* Christine Jendrzejczyk
	05/02/2017
 	Artiste
		footer - components
*/
.footer{
	background-color: rgba(0,0,0,0.45);
	font-size: 0.9em;
	&__list{
	margin-left: 23%;
	margin-top: 1em;
	padding: 2em;
	}
	&__elt{
		display: inline-block;
		padding: 0.5em;
	}	
	&__link{
		color: transparent;

	}
}
.design{
	
	&__link{
		color: lightgray;
	}
}