/* Christine Jendrzejczyk
	05/02/2017
 	Artiste
		mainMusic - components
*/
@import "tools/mixin";
.mainMusic{
	//position: relative;
	//top: -12em;

	height: 21em;
	background: url(../img/ha.jpg);
	background-size: 100%;
	background-position: 36px -708px;

	-webkit-clip-path: polygon(49.5% 0, 100% 62%, 0 62%);
	clip-path: polygon(49.5% 0, 100% 62%, 0 62%);
	&__title{
		position: relative;
		top: 4em;
		left: 44%;
		@include boxStyles(1.7em, 13% );
	}

}

.test{
	position:absolute;
	top: 68em;
	width: 100%;
	height: 1em;
}
