/* Christine Jendrzejczyk
	05/02/2017
 	Artiste
		main - components
*/

.mainHeader{
		background-image: url('../img/ha.jpg');
		background-repeat: no-repeat;
		background-position: center;
    min-height: 41em;
    background-size:cover;

}
