/* Christine Jendrzejczyk
	05/02/2017
 	Artiste
		main - components
*/

.mainHeader{
	background: url(../img/710193.jpg) no-repeat center;
    /* background-position: 46% 50%; */
    min-height: 41em;
    background-size: 119%;

}