/* Christine Jendrzejczyk
	05/02/2017
 	Artiste
		Mixin - tools
*/


@mixin boxStyles( $sizeF, $sizeW){
	font-size: $sizeF;
	background-color:rgba(243, 240, 240, 0.72);
	color: black;
	padding: 0.2em;
	width: $sizeW;
}
/*
@mixin fond(){/*
background: rgb(14,14,14);  Old browsers
background: -moz-linear-gradient(top,  rgba(14,14,14,1) 0%, rgba(153,153,153,1) 100%);
background: -webkit-linear-gradient(top,  rgba(14,14,14,1) 0%,rgba(153,153,153,1) 100%);
background: linear-gradient(to bottom,  rgba(14,14,14,1) 0%,rgba(153,153,153,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#999999',GradientType=0 );
background: url(../img/lowFull.jpg) no-repeat center;
background-size: cover;
}*/

@mixin tri(){
	z-index: 1;
	-webkit-clip-path: polygon(100% 0, 50% 100%, 0 0);
	//clip-path: polygon(100% 0, 50% 100%, 0 0);
	//-webkit-clip-path: url(#clipTriTitle);
	clip-path: url(#clipTriTitle);
	background-color: black;
	color: white;
	height: 5em;
	width: 100%;
}
@mixin triTitle(){
	position: relative;
		left: 45%;
		//top: 0.7em;
		top: 0.4em;
		width: 15%;
		font-size: 1.5em;
}
@mixin fondImg(){
	background: url(../img/710193.jpg) no-repeat center;
    /* background-position: 46% 50%; */
    min-height: 38em;
    background-size: 119%;
}
@mixin circle($color){
    color: $color;
    font-family: 'Glyphs';
    font-size: 2em;
    padding: 0.5em;

    border: 2px solid $color;
}
