.single{
	&__title{
		position: absolute;
		top: 22.5em;
		width: 90%;
		color: black;
		font-size: 1.5em;
		 -webkit-clip-path: polygon(98% 52%, 0 0, 0 100%);
    	clip-path: url(#clipTriDio);
    	background-color: #7EC9CD;
    	height: 11em;
	}
	&__title-posi{
		position: relative;
		top: 5em;
		left: 3%;
	}
	&__list{
		width: 58%;
		margin: 2em auto;
		padding-bottom: 3em;
	}
	&__elt{
		display: inline;
	}
	&__poch{
		padding: 0.5em;
	}
}

@media (max-width:1495px) {
	.cta--disco{
		margin-left: 24%;
	}
}

@media (max-width:1080px) {
	.single{
		&__list{
			width: 66%;
		}
	}
}
@media (max-width:895px) {
	.single{
		&__title{
			//width: 27em;
		}
	}
}

@media (max-width:748px) {
	.single{
		&__list{
			width: 53%;
		}
	}
}

@media (max-width:660px) {
	.single{
		&__list{
			width: 56%;
		}

	}
}
@media (max-width:610px) {
	.single{
		&__list{
			width: 63%;
		}

	}
}
@media (max-width:595px) {
	.single{
		&__title{
			//width: 25em;
		}
	}
}

@media (max-width:545px) {
	.single{
		&__list{
			width: 30%;//63%;
		}
	}
}
