/* Christine Jendrzejczyk
	05/02/2017
 	Artiste
		mainInfos - objects*/


.mainInfo{
	width: 40%;
	margin: 0 auto;
	margin-top: 7em;
	&__plus{
		padding: 0 0.3em;
		color: #7EC9CD;
		padding-bottom: 0.2em;
		margin-left: 1%;
		border-bottom: 2px solid #7EC9CD;
	}
	&__plus:hover{
		transition: .12s ease-in-out;
		border-top: 2px solid #7EC9CD;
	}
}
