/* Christine Jendrzejczyk
	05/02/2017
 	Artiste
		mainQuote - components
*/

.mainQuote{
	width: 14em;
	text-align: center;
	margin: 0 auto;
	&__title{
		font-size: 1.5em;
		position: relative;
		top: 17em;
		left: 5%;
	}
}
