/* Christine Jendrzejczyk
	05/02/2017
 	Artiste
		Menu - objects
*/

.menu{
	z-index: 50;
	position: fixed;
	width: 50%;

	&__elt{
		//background-color: black;
		padding: 0.2em;
		background-color: rgba(16, 15, 15, 0.9);
		//border-bottom: 1px solid #7EC9CD;
		display: inline;
		&:hover{
			padding-bottom: unset;
			transition: 0.2s linear;
			border-bottom: 5px solid #7EC9CD;
		}
	}
	&__list{

		margin-left: 14%;
		//width: 78%;
		width: 100%;
		padding: 0.4em;
	}
	&__list:target{
		transition: all 0.4s ease-out;
	}
	&__link{
		color: white;
		text-decoration: none;
		padding: 0.5em 0.5em 0 0.5em;
	}
	/*&__drop::after{
		content: ' X -';
    	font-family: 'Glyphs';
	}*/
	&__drop{
		background-color: rgba(16, 15, 15, 0.65);
		padding: 0.05em 0.35em;
		border: 1px solid #7EC9CD;
		cursor: pointer;
		//writing-mode:tb-rl;
		color:white;
		position: relative;
		top: 1.3em;
		left:7.4%;
		font-size: 1em;
	}
	&__drop::after{
		content: ' ';
    font-family: 'Glyphs';
	}
	/**/
	&__check:checked ~ ul{
  position: absolute;
  top: -5em;


	}
	&__check{
	position: absolute;
	top: 105em;


	}
}


@media (max-width:1080px) {

	.menu{
		width: 100%;
		&__list{

			padding-bottom: 0.4em;
		}
	}

}

@media (max-width:533px) {
	.menu{
		&__elt{
		margin-top: 1.5em;
		padding: 0.1em;
		}
	}

}
